/****** Utils ******/


.bg-black{
    background-color: black;
}

.bg-orange{
    background-color: #cd3d0f;
}

.text-gray{
    color: gray;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
}

/****** Body ******/


/* Header */
header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

#sony-logo{
    width: auto;
}

#navbar-bottom-right > *{
    margin: 0 5px;
}

#navbar-bottom-right .fa-search{
    position: relative;
    transform: translateY(8px);
}

/* Main */

main{
    padding-top: 105px;
}

#jumbo-top{
    padding-top: 250px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

#jumbo-top figure img{
    width: 50%;
}

main .gamelist img{
    border-radius: 20px;
}

@media screen and (min-width: 992px) {
   
    #jumbo-top figure img{
        width: 25%;
    }

    .col-lg_20{
        width: 20%;
    }
}
