/****** Utils ******/


.bg-black{
    background-color: black;
}

.bg-orange{
    background-color: #cd3d0f;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
}

/****** Body ******/


/* Header */
header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

#sony-logo{
    width: auto;
}

#navbar-bottom-right > *{
    margin: 0 5px;
}

#navbar-bottom-right .fa-search{
    position: relative;
    transform: translateY(8px);
}

#navbar-bottom .fa-bars{
    color: gray;
}

/* Main */

main{
    padding-top: 105px;
}

#jumbo-top{
    padding-top: 300px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

main .gamelist img{
    border-radius: 20px;
}